.search{
    width: fit-content;
    height: 2,5rem;
    border-radius: 9999px;
    display: flex;
    border: 1px solid;
    padding: 0.25rem;
    border-color: #E22925;
}

.input{
    font-weight: 1000;
    border: none;
    border-radius: 9999px;
    border-color: transparent;
    width: 30vw;
    background-color: #e22825a9;
    color: white;
    padding: 1px 1.5rem;
}

.input::placeholder{
    color: white;
}

.button{
    border: none;
    border-radius: 9999px;
    border-color: transparent;
    background-color: #E22925;
    color: white;
    padding: 10px 1rem;
    
}