.cardDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 5px;
    padding: 5px;
    gap: 5px;
}

.pagination{
    display: flex;
    flex-direction: row;
}

.selectHome{
    border: 2px  solid rgb(255, 255, 255);
    border-radius: 9999px;
    
    background-color: #e22825da;
    color: white;
    padding: 1px 1.5rem;
    margin: 4px;
}